langchain==0.3.27
langchain-core==0.3.86
langchain-community==0.3.29
langchain-text-splitters==0.3.11
langchain-groq==0.2.5
langchain-huggingface==0.3.1
langchain-postgres==0.0.17
langchain-ollama==0.2.3
langchain-google-genai==2.0.10
psycopg2-binary==2.9.11
ragas==0.2.15
groq
ollama
sentence-transformers
tika
pgvector
psycopg[binary,pool]
asyncpg
datasets
python-dotenv